streamlit
google-genai
langchain
langchain-community
langchain-core
sentence-transformers
faiss-cpu
easyocr
opencv-python-headless
PyMuPDF
pdf2image
pillow
torch
torchvision
transformers
numpy
pandas
scikit-learn
python-dotenv
requests